<form (ngSubmit)="onSubmit()" class="form">
  <div class="form-group">
    <label for="title">Naslov:</label>
    <input 
      type="text" 
      id="title" 
      [(ngModel)]="book.title" 
      name="title"
      class="input"
      required
    >
  </div>

  <div class="form-group">
    <label for="author">Autor:</label>
    <input 
      type="text" 
      id="author" 
      [(ngModel)]="book.author" 
      name="author"
      class="input"
      required
    >
  </div>

  <div class="form-group">
    <label for="isbn">ISBN:</label>
    <input 
      type="text" 
      id="isbn" 
      [(ngModel)]="book.isbn" 
      name="isbn"
      class="input"
    >
  </div>

  <div class="form-group">
    <label for="genre">Žanr:</label>
    <select 
      id="genre" 
      [(ngModel)]="book.genre" 
      name="genre"
      class="input"
      required
    >
      <option value="">-- Odaberi žanr --</option>
      <option value="Roman">Roman</option>
      <option value="Pripovetka">Pripovetka</option>
      <option value="Poezija">Poezija</option>
      <option value="Drama">Drama</option>
      <option value="Naučna fantastika">Naučna fantastika</option>
      <option value="Fantazija">Fantazija</option>
      <option value="Misterija">Misterija</option>
      <option value="Biografija">Biografija</option>
      <option value="Istorija">Istorija</option>
    </select>
  </div>

  <div class="form-group">
    <label for="publisher">Izdavač:</label>
    <input 
      type="text" 
      id="publisher" 
      [(ngModel)]="book.publisher" 
      name="publisher"
      class="input"
    >
  </div>

  <div class="form-group">
    <label for="yearPublished">Godina objavljivanja:</label>
    <input 
      type="number" 
      id="yearPublished" 
      [(ngModel)]="book.yearPublished" 
      name="yearPublished"
      class="input"
      min="1000"
      max="9999"
    >
  </div>

  <div class="form-group">
    <label for="rating">Ocena (1-10):</label>
    <input 
      type="number" 
      id="rating" 
      [(ngModel)]="book.rating" 
      name="rating"
      class="input"
      min="1"
      max="10"
      step="0.1"
    >
  </div>

  <button 
    type="submit" 
    class="button"
    [disabled]="isSubmitting"
  >
    {{ isSubmitting ? 'Dodavanje...' : 'Dodaj knjigu' }}
  </button>

  <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  <div *ngIf="successMessage" class="success">{{ successMessage }}</div>
</form>
