# Frontend
node_modules/
dist/
.angular/
coverage/
tmp/
out-tsc/
bazel-out/

# .NET / Visual Studio
bin/
obj/
.vs/
Debug/
Release/

src/backend/TuristickiVodic/TuristickiVodic.API/wwwroot/images/entity_images/

sandbox/Marija/books-app/backend/BookTrackerBackend/BookTrackerBackend/bin/Debug
sandbox/Mihajlo/Backend/Net_Bekend_ucenje/bin/Debug

# IDE / editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.idea/

# Logs
*.log

# User-specific
*.user
*.suo
*.userossc
*.sln.docstates
*.rsuser

# System
.DS_Store
Thumbs.db
# Deployment
.env

*.zip
