<div class="paginator">
  <span class="paginator-info">{{ pageStart }}–{{ pageEnd }} {{ 'paginator.of' | translate }} {{ totalCount }} {{ itemLabel }}</span>
  <div class="paginator-controls">
    <label class="paginator-size">
      <span>{{ 'paginator.perPage' | translate }}</span>
      <select [ngModel]="pageSize" (ngModelChange)="onSizeChange($event)">
        <option *ngFor="let opt of pageSizeOptions" [ngValue]="opt">{{ opt }}</option>
      </select>
    </label>
    <div class="paginator-nav">
      <button type="button" class="pag-btn" [disabled]="currentPage <= 1" (click)="prev()">
        <span class="material-symbols-outlined">chevron_left</span>
      </button>
      <span class="pag-indicator">{{ currentPage }} / {{ totalPages }}</span>
      <span class="pag-go-label">{{ 'paginator.goTo' | translate }}</span>
      <input
        type="number"
        class="pag-jump"
        [(ngModel)]="jumpValue"
        placeholder="#"
        min="1"
        [max]="totalPages"
        (keyup.enter)="onJump()"
        [title]="'paginator.jumpHint' | translate"
      />
      <button type="button" class="pag-btn" [disabled]="currentPage >= totalPages" (click)="next()">
        <span class="material-symbols-outlined">chevron_right</span>
      </button>
    </div>
  </div>
</div>
