<div class="list-container">
  <div *ngIf="students.length === 0" class="empty-state">
    Nema knjiga. Dodajte prvu knjigu koristeći formu gore.
  </div>

  <table *ngIf="students.length > 0" class="table">
    <thead>
      <tr class="table-header">
        <th>Naslov</th>
        <th>Autor</th>
        <th>Žanr</th>
        <th>Ocena</th>
        <th>Godina</th>
        <th>Izdavač</th>
        <th>Akcija</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let book of students" class="table-row">
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.genre }}</td>
        <td>
          <span class="gpa" [ngClass]="getRatingColor(book.rating)">
            {{ book.rating }}
          </span>
        </td>
        <td>{{ book.yearPublished }}</td>
        <td>{{ book.publisher }}</td>
        <td>
          <button 
            class="delete-btn"
            (click)="onDelete(book.id)"
          >
            Obriši
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
