<div class="container">
  <div class="card">
    <div class="left">
      <div class="logo">
        <img src="assets/logo.png" alt="SpireGO icon" class="logo-icon" />
      </div>
      <img src="/assets/pozadina.png" alt="illustration" class="illustration" />
    </div>

    <div class="right">
      <h2>Welcome</h2>

      <div class="alert error" *ngIf="errorMessage">{{ errorMessage }}</div>
      <div class="alert success" *ngIf="successMessage">{{ successMessage }}</div>

      <form>
        <label>First Name</label>
<div class="input-group">
  <span class="material-symbols-outlined icon">person</span>
  <input type="text" placeholder="First Name" [(ngModel)]="firstName" name="firstName" />
</div>

<label>Last Name</label>
<div class="input-group">
  <span class="material-symbols-outlined icon">person</span>
  <input type="text" placeholder="Last Name" [(ngModel)]="lastName" name="lastName" />
</div>

<label>Date of Birth</label>
<div class="input-group">
  <span class="material-symbols-outlined icon">calendar_today</span>
  <input type="date" [(ngModel)]="dateOfBirth" name="dateOfBirth" />
</div>

        <label>Email</label>
        <div class="input-group">
          <span class="material-symbols-outlined icon">mail</span>
          <input type="email" placeholder="Email" [(ngModel)]="email" name="email" />
        </div>

        <label>Password</label>
        <div class="input-group">
  <span class="material-symbols-outlined icon">lock</span>
  
    <input [type]="showPassword ? 'text' : 'password'" 
      placeholder="Password" 
         [(ngModel)]="password" 
         name="password" />
  
  <span class="material-symbols-outlined eye" (click)="togglePassword()">
    {{ showPassword ? 'visibility' : 'visibility_off' }}
  </span>
</div>

        <label>Confirm Password</label>
        <div class="input-group">
  <span class="material-symbols-outlined icon">lock_reset</span>
  
    <input [type]="showConfirmPassword ? 'text' : 'password'" 
      placeholder="Confirm Password" 
         [(ngModel)]="confirmPassword" 
         name="confirmPassword" />
         
  <span class="material-symbols-outlined eye" (click)="toggleConfirmPassword()">
    {{ showConfirmPassword ? 'visibility' : 'visibility_off' }}
  </span>
</div>

        <button type="button" class="btn-signup" (click)="onSignUp()">Sign Up</button>

        <p class="help">
          Need technical support?
          <a href="#">Contact IT Helpdesk</a>
        </p>
      </form>
    </div>
  </div>
</div>