<div class="container">
  <div class="card">

    <div class="left">
    </div>

    <!-- RIGHT SIDE FORM -->
    <div class="right">
      <h2>Welcome</h2>

      <form>
        <!-- USERNAME -->
        <label>Username</label>
        <div class="input-group">
          <span class="material-symbols-outlined icon">person</span>
          <input type="text" placeholder="Your Username" />
        </div>

        <!-- EMAIL -->
        <label>Email</label>
        <div class="input-group">
          <span class="material-symbols-outlined icon">mail</span>
          <input type="email" placeholder="youremail@pmf.kg.ac.rs" />
        </div>

        <!-- PASSWORD -->
        <label>Password</label>
        <div class="input-group">
          <span class="material-symbols-outlined icon">lock</span>
          <input type="password" placeholder="••••••••••" />
          <span class="material-symbols-outlined eye">visibility</span>
        </div>

        <!-- CONFIRM PASSWORD -->
        <label>Confirm Password</label>
        <div class="input-group">
          <span class="material-symbols-outlined icon">lock_reset</span>
          <input type="password" placeholder="••••••••••" />
          <span class="material-symbols-outlined eye">visibility</span>
        </div>

        <button type="button" class="btn">Sign Up →</button>

        <p class="help">
          Need technical support?
          <a href="#">Contact IT Helpdesk</a>
        </p>
      </form>
    </div>

  </div>
</div>