<div class="container">
  <div class="card">
    <div class="left">
      <div class="logo">
        <img src="assets/logo.png" alt="SpireGO icon" class="logo-icon" />
      </div>
      <img src="/assets/pozadina.png" alt="illustration" class="illustration" />
    </div>

    <div class="right">
      <h2>{{ 'auth.signUp.welcome' | translate }}</h2>

      <div class="alert error" *ngIf="errorMessage">{{ errorMessage }}</div>
      <div class="alert success" *ngIf="successMessage">{{ successMessage }}</div>

      <form>
        <label>{{ 'auth.signUp.firstName' | translate }}</label>
<div class="input-group">
  <span class="material-symbols-outlined icon">person</span>
  <input type="text" [placeholder]="'auth.signUp.firstName' | translate" [(ngModel)]="firstName" name="firstName" />
</div>

<label>{{ 'auth.signUp.lastName' | translate }}</label>
<div class="input-group">
  <span class="material-symbols-outlined icon">person</span>
  <input type="text" [placeholder]="'auth.signUp.lastName' | translate" [(ngModel)]="lastName" name="lastName" />
</div>

<label>{{ 'auth.signUp.dob' | translate }}</label>
<div class="input-group">
  <span class="material-symbols-outlined icon">calendar_today</span>
  <input type="date" [(ngModel)]="dateOfBirth" name="dateOfBirth" />
</div>

        <label>{{ 'auth.signUp.email' | translate }}</label>
        <div class="input-group">
          <span class="material-symbols-outlined icon">mail</span>
          <input type="email" [placeholder]="'auth.signUp.email' | translate" [(ngModel)]="email" name="email" />
        </div>

        <label>{{ 'auth.signUp.password' | translate }}</label>
        <div class="input-group">
  <span class="material-symbols-outlined icon">lock</span>
  
    <input [type]="showPassword ? 'text' : 'password'" 
      [placeholder]="'auth.signUp.password' | translate" 
         [(ngModel)]="password" 
         name="password" />
  
  <span class="material-symbols-outlined eye" (click)="togglePassword()">
    {{ showPassword ? 'visibility' : 'visibility_off' }}
  </span>
</div>

        <label>{{ 'auth.signUp.confirmPassword' | translate }}</label>
        <div class="input-group">
  <span class="material-symbols-outlined icon">lock_reset</span>
  
    <input [type]="showConfirmPassword ? 'text' : 'password'" 
      [placeholder]="'auth.signUp.confirmPassword' | translate" 
         [(ngModel)]="confirmPassword" 
         name="confirmPassword" />
         
  <span class="material-symbols-outlined eye" (click)="toggleConfirmPassword()">
    {{ showConfirmPassword ? 'visibility' : 'visibility_off' }}
  </span>
</div>

        <button type="button" class="btn-signup" (click)="onSignUp()">{{ 'auth.signUp.button' | translate }}</button>

        <p class="help">
          {{ 'auth.signUp.help' | translate }}
          <a href="#">{{ 'auth.signUp.helpLink' | translate }}</a>
        </p>
      </form>
    </div>
  </div>
</div>