<div class="page">
  <div class="container">
    <!-- Back arrow -->
    <div class="back" (click)="goBack()">
      <span class="material-icons">arrow_back_ios</span>
    </div>

    <!-- Logo -->
    <div class="logo">
      <app-logo size="lg"></app-logo>
    </div>

    <!-- Title -->
    <h2>Forget Password</h2>

    <p class="subtitle">
      <span>Provide the email address linked with your account</span>
      <span class="new-line">to reset your password</span>
    </p>

    <!-- Form -->
    <form [formGroup]="form" (keydown.enter)="submit()">
      <label>Email</label>

      <input type="email" placeholder="Enter your email" formControlName="email" />
      @if (email?.touched && email?.invalid) {
        <div class="error">
          @if (email?.errors?.['required']) {
            <span> Email is required </span>
          }
          @if (email?.errors?.['email']) {
            <span> Invalid email format </span>
          }
        </div>
      }

      <small class="hint">Please enter your registered email</small>
      @if (errorMessage) {
        <div class="error">{{ errorMessage }}</div>
      }

      <button
        type="button"
        class="primary"
        [disabled]="form.invalid || isLoading"
        (click)="submit()"
      >
        {{ isLoading ? 'Sending...' : 'Request Password Reset Link' }}
      </button>

      <button type="button" class="secondary" (click)="goBack()">Cancel</button>
    </form>
  </div>
</div>
