/* SplashComponent styles */
.splash-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.5s ease-in-out;
  opacity: 1;
  z-index: 1000;
}

.splash-container.hide {
  opacity: 0;
  pointer-events: none;
}

.splash-logo {
  width: 100%;       /* logo zauzima 50% širine viewport-a */
  // max-width: 400px; /* opcionalno, da ne bude prevelik na desktopu */
  height: auto;     /* zadrži proporcije */
  transition: all 0.3s ease; /* glatko skaliranje kad se viewport menja */
}