node_modules/
dist/
build/
bin/
obj/
out/

*.db
*.db-shm
*.db-wal

.angular/
.angular/cache
.vs/
.vscode/
.idea/

*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.DS_Store

launchSettings.json
appsettings.Development.json

*.tmp
*.bak
*.swp
*~

package-lock.json
yarn.lock

.git/

/tmp
/out-tsc
/bazel-out

*.tsbuildinfo

src/environments/*.ts
!src/environments/environment.ts

.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

.history/*
__screenshots__/

/coverage
/test-results

*.user
*.suo
*.userosscache
*.sln.docstates
*.sln.iml

demo-app-ivana/dist/
backend/projekat.backend/bin/
backend/projekat.backend/obj/
